__pycache__/
*.pyc

venv/
.venv/

runs/

# Ignora todos os pesos
*.pt

# Exceto o modelo final
!best.pt

# Pesos YOLO baixados da Ultralytics
yolov8*.pt

# Checkpoints intermediários
runs/**/weights/epoch*.pt

.vscode/